Repository JaxGaussianProcesses/GPJax: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, flake8, autoflake

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
      - id: autoflake
        name: autoflake
        entry: autoflake
        language: python
        "types": [python]
        require_serial: true
        args:
          - "--in-place"
          - "--expand-star-imports"
          - "--remove-all-unused-imports"
          - "--remove-unused-variables"

Initial commit
  examples/spectral_approximation.pct.py
  jaxkern/__init__.py
  jaxkern/approximations/__init__.py
  jaxkern/approximations/rff.py
  jaxkern/base.py
  jaxkern/computations/__init__.py
  jaxkern/computations/basis_functions.py
  jaxkern/computations/constant_diagonal.py
  jaxkern/non_euclidean/graph.py
  jaxkern/nonstationary/linear.py
  jaxkern/nonstationary/polynomial.py
  jaxkern/stationary/matern12.py
  jaxkern/stationary/matern32.py
  jaxkern/stationary/matern52.py
  jaxkern/stationary/periodic.py
  jaxkern/stationary/powered_exponential.py
  jaxkern/stationary/rational_quadratic.py
  jaxkern/stationary/rbf.py
  jaxkern/stationary/utils.py
  setup.py
  tests/test_approximations.py
  tests/test_computation.py
Due: flake8, autoflake

Resolve comments
  jaxkern/non_euclidean/graph.py
  jaxkern/non_euclidean/utils.py
  jaxkern/nonstationary/__init__.py
  jaxkern/stationary/white.py
Due: flake8, autoflake

Address White noise issues, import locations, testing and add disclaimers to files.
  jaxkern/__init__.py
  jaxkern/base.py
  jaxkern/computations/__init__.py
  jaxkern/computations/base.py
  jaxkern/computations/constant_diagonal.py
  jaxkern/computations/dense.py
  jaxkern/computations/diagonal.py
  jaxkern/computations/eigen.py
  jaxkern/non_euclidean/__init__.py
  jaxkern/non_euclidean/graph.py
  jaxkern/non_euclidean/utils.py
  jaxkern/nonstationary/__init__.py
  jaxkern/nonstationary/linear.py
  jaxkern/nonstationary/polynomial.py
  jaxkern/stationary/__init__.py
  jaxkern/stationary/matern12.py
  jaxkern/stationary/matern32.py
  jaxkern/stationary/matern52.py
  jaxkern/stationary/periodic.py
  jaxkern/stationary/powered_exponential.py
  jaxkern/stationary/rational_quadratic.py
  jaxkern/stationary/rbf.py
  jaxkern/stationary/utils.py
  jaxkern/stationary/white.py
  tests/__init__.py
  tests/test_base.py
  tests/test_non_euclidean.py
  tests/test_nonstationary.py
  tests/test_stationary.py
  tests/test_utils.py
Due: flake8, autoflake

Update jaxkern dep
  README.md
  examples/haiku.pct.py
  examples/kernels.pct.py
  examples/yacht.pct.py
  gpjax/gps.py
Due: flake8, autoflake

Fix CircleCI bug
  setup.py
Due: flake8, autoflake

Fix CircleCI bug
  .circleci/config.yml
Due: none

Update
  jaxkern/approximations/rff.py
  jaxkern/computations/basis_functions.py
Due: flake8, autoflake

Drop nb
  examples/spectral_approximation.pct.py
Due: flake8, autoflake

Add StudentT test
  jaxkern/stationary/utils.py
  tests/test_stationary.py
Due: flake8, autoflake

Expose feature computation method
  jaxkern/computations/basis_functions.py
  tests/test_approximations.py
Due: flake8, autoflake

Now splitting key within init_params in combination kernels
  jaxkern/base.py
Due: flake8, autoflake

Added missing jax import
  jaxkern/base.py
Due: flake8, autoflake

made change
  README.md
Due: none

Respond to PR comments
  jaxkern/approximations/rff.py
  jaxkern/base.py
  jaxkern/non_euclidean/graph.py
  jaxkern/nonstationary/linear.py
  jaxkern/nonstationary/polynomial.py
  jaxkern/stationary/matern12.py
  jaxkern/stationary/matern32.py
  jaxkern/stationary/matern52.py
  jaxkern/stationary/periodic.py
  jaxkern/stationary/powered_exponential.py
  jaxkern/stationary/rational_quadratic.py
  jaxkern/stationary/rbf.py
  jaxkern/stationary/white.py
  tests/test_approximations.py
  tests/test_stationary.py
Due: flake8, autoflake

Remove lengthscale in init_params
  jaxkern/approximations/rff.py
Due: flake8, autoflake

Update README
  README.md
Due: none

rectify predictive interval
  examples/regression.pct.py
Due: flake8, autoflake

typo fixes
  gpjax/abstractions.py
  gpjax/gaussian_distribution.py
  gpjax/gps.py
  gpjax/kernels.py
  gpjax/likelihoods.py
  gpjax/mean_functions.py
  gpjax/natural_gradients.py
  gpjax/variational_families.py
  gpjax/variational_inference.py
Due: flake8, autoflake

typo fixes (#187)
  gpjax/abstractions.py
  gpjax/gaussian_distribution.py
  gpjax/gps.py
  gpjax/kernels.py
  gpjax/likelihoods.py
  gpjax/mean_functions.py
  gpjax/natural_gradients.py
  gpjax/variational_families.py
  gpjax/variational_inference.py
Due: flake8, autoflake

.pyspelling.yml and wordlist-custom.txt
  .pyspelling.yml
  wordlist-custom.txt
Due: none

fix more typos
  gpjax/gaussian_distribution.py
  gpjax/gps.py
  gpjax/kernels.py
  gpjax/natural_gradients.py
  gpjax/parameters.py
  gpjax/variational_families.py
  gpjax/variational_inference.py
Due: flake8, autoflake

comments
  wordlist-custom.txt
Due: none

fix __all__ filter
  .pyspelling.yml
  wordlist-custom.txt
Due: none

comments
  .pyspelling.yml
Due: none

pyspelling (#188)
  .pyspelling.yml
  gpjax/gaussian_distribution.py
  gpjax/gps.py
  gpjax/kernels.py
  gpjax/natural_gradients.py
  gpjax/parameters.py
  gpjax/variational_families.py
  gpjax/variational_inference.py
  wordlist-custom.txt
Due: flake8, autoflake

Continue refactoring
  examples/haiku.pct.py
  examples/yacht.pct.py
  gpjax/abstractions.py
  gpjax/config.py
  gpjax/gps.py
  gpjax/likelihoods.py
  gpjax/mean_functions.py
  gpjax/natural_gradients.py
  gpjax/parameters.py
  gpjax/utils.py
  gpjax/variational_families.py
  gpjax/variational_inference.py
  tests/test_abstractions.py
  tests/test_config.py
  tests/test_kernels.py
  tests/test_parameters.py
  tests/test_types.py
Due: flake8, autoflake

Drop deprecated files/fns
  .pre-commit-config.yaml
  examples/barycentres.pct.py
  examples/classification.pct.py
  examples/collapsed_vi.pct.py
  examples/graph_kernels.pct.py
  examples/haiku.pct.py
  examples/kernels.pct.py
  examples/natgrads.pct.py
  examples/regression.pct.py
  examples/tfp_integration.pct.py
  examples/uncollapsed_vi.pct.py
  gpjax/__init__.py
  gpjax/_version.py
  gpjax/abstractions.py
  gpjax/config.py
  gpjax/gaussian_distribution.py
  gpjax/gps.py
  gpjax/kernels.py
  gpjax/likelihoods.py
  gpjax/mean_functions.py
  gpjax/natural_gradients.py
  gpjax/parameters.py
  gpjax/quadrature.py
  gpjax/types.py
  gpjax/utils.py
  gpjax/variational_families.py
  gpjax/variational_inference.py
  pyproject.toml
  tests/test_abstractions.py
  tests/test_config.py
  tests/test_kernels.py
  tests/test_natural_gradients.py
  tests/test_parameters.py
  tests/test_quadrature.py
  tests/test_types.py
  tests/test_utilities.py
  tests/test_variational_families.py
Due: check-toml, flake8, autoflake

All tests bar natgrads passing
  .mailmap
  gpjax/__init__.py
  gpjax/gps.py
  gpjax/variational_families.py
  gpjax/variational_inference.py
  tests/test_gps.py
  tests/test_natural_gradients.py
  tests/test_parameters.py
  tests/test_variational_families.py
  tests/test_variational_inference.py
Due: flake8, autoflake

Latest natgrads
  gpjax/natural_gradients.py
  tests/test_natural_gradients.py
Due: flake8, autoflake

Drop natgrads
  gpjax/natural_gradients.py
  tests/test_natural_gradients.py
Due: flake8, autoflake

Update README
  README.md
  gpjax/__init__.py
Due: flake8, autoflake

GP objective fns. added
  examples/regression.pct.py
  examples/yacht.pct.py
  gpjax/__init__.py
  gpjax/gps.py
  gpjax/objectives.py
  tests/test_gps.py
  tests/test_objectives.py
Due: flake8, autoflake

Alias LPD and Non-conjugate MLL
  gpjax/objectives.py
  tests/test_objectives.py
Due: flake8, autoflake

remove sorting and split keys instead
  examples/classification.pct.py
  examples/collapsed_vi.pct.py
  examples/haiku.pct.py
  examples/natgrads.pct.py
  examples/regression.pct.py
  examples/tfp_integration.pct.py
  examples/uncollapsed_vi.pct.py
Due: flake8, autoflake

Add loss_function
  .pre-commit-config.yaml
  gpjax/gaussian_distribution.py
  gpjax/gps.py
  gpjax/objectives.py
  pyproject.toml
  tests/test_gps.py
Due: check-toml, flake8, autoflake

remove sorting and split keys instead (#191)
  examples/classification.pct.py
  examples/collapsed_vi.pct.py
  examples/haiku.pct.py
  examples/natgrads.pct.py
  examples/regression.pct.py
  examples/tfp_integration.pct.py
  examples/uncollapsed_vi.pct.py
Due: flake8, autoflake

Add kernels and inference modules
  gpjax/__init__.py
Due: flake8, autoflake

Update objectives.py
  gpjax/objectives.py
Due: flake8, autoflake

Fix test
  gpjax/__init__.py
  gpjax/gps.py
  gpjax/objectives.py
Due: flake8, autoflake
